{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Image Upload</h1>
<div class="row">
{% for image in object_list %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-bottom"  src="{{ image.image.url }}" class="img-responsive" style="width: 350px
            ; float: left; max-height: content-box; height: 500px;" />
            <div class="card-body">
                <h5 class="card-title">{{ image.title }}</h5>
                 <a href="{% url 'image_detail' image.pk %}"
                   class="btn btn-primary">
                    See More
                </a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
